.admin {
    padding: 20px;
}

.admin-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.admin-post {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-post-image {
    width: 100%;
    height: 150px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que las imágenes cubran el contenedor sin distorsión */
}

.admin-post-text {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; /* Centrar el texto */
}

.admin-post button {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%;
    padding: 10px 0; 
}
