.container {
  max-width: 900px;
  margin: 0 auto;
}

.card-post {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.user-picture img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.name-client {
  font-weight: bold;
}

.post-image-container {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
}

.post-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-body {
  padding: 10px;
}

.post-text {
  margin-bottom: 10px;
}

.post-footer {
  padding: 10px;
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
}

.social-media svg {
  cursor: pointer;
  fill: #262626;
  margin-right: 10px;
}

.social-media svg:hover {
  fill: #0095f6;
}
