.linkLogin {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 16px;
    color: #286299;
    transition: color 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .linkLogin {
      font-size: 14px;

    }
  }
  .black-button {
    background-color: black;
    border-color: black;
    color: white;
  
  }
    
  

 
  